.object-Table{
    width: 100%;
}

#contenido{
    width: 100%;
    margin-bottom: 50px;
    height: auto;
}

.edit-object-Table,.delete-object-Table{
    cursor: pointer;
    color:blue;

}

.hijoEdit{
    background: silver;
    padding-top: 10px;
    padding-bottom: 10px;
      margin-bottom: 10px;
}

#txtobject-Table{
    width: 500px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 12px;
    padding-left: 10px;
    outline: black;
    border: 1px solid silver;
}

.txtSearchOff{
    display: none;
}

.txtSearchOn{
    display: block;
}

td{
    border: 1px solid silver;
    padding: 7px;
    color: rgb(90, 76, 100);
}

th{
    border: 1px solid silver;
    background: rgb(237, 230, 240);
}

.temp td{
    border: none;
    padding: 7px;
    color: rgb(90, 76, 100);
}

.tempLoagind td{
    text-align: center;
}